* {
  margin: 0;
  padding: 0;
}

.heading {
  width: auto;
  height: auto;
  display: flex;
  text-align: center;
  font-size: 200%;
  color: #183b56;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: sans-serif;
  font-weight: 800;
}

.highlight {
  background-image: linear-gradient(
    to top,
    rgba(255, 226, 164, 0.667),
    rgba(1, 255, 77, 0),
    rgba(1, 255, 77, 0)
  );
  margin-right: 20px;
}

.stick-header {
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
}

/* contener top */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .contener {
    flex-direction: column;
  }
}

/*row*/

.contener {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 18px;
  font-family: sans-serif;
  border: 2px;
}

.digital-marketing {
  width: 400px;
  height: 280px;
  border: 2px solid rgba(52, 52, 52, 0.175);
  border-radius: 10px;
}

.art-design {
  width: 400px;
  height: 280px;
  border: 2px solid rgba(52, 52, 52, 0.175);
  border-radius: 10px;
}

.accounting {
  width: 400px;
  height: 280px;
  border: 2px solid rgba(52, 52, 52, 0.175);
  border-radius: 10px;
}

.photography {
  width: 400px;
  height: 280px;
  border: 2px solid rgba(52, 52, 52, 0.175);
  border-radius: 10px;
}

img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-top: 20px;
}

.focus-job {
  width: 280px;
  height: auto;
  margin-left: 20px;
  margin-top: 80px;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 0px 0px;
  position: relative;
  bottom: 20px;
  right: 40px;
  font-weight: 1000;
}

a {
  text-decoration: none; /* ไม่แสดงเส้นใต้ */
  cursor: pointer; /* เปลี่ยนเมาส์เป็นรูปของเครื่องมือ */
  color: black;
}

/* contener down */

.Writeing {
  width: 400px;
  height: 280px;
  border: 2px solid rgba(52, 52, 52, 0.175);
  border-radius: 10px;
}

.Music {
  width: 400px;
  height: 280px;
  border: 2px solid rgba(52, 52, 52, 0.175);
  border-radius: 10px;
}

.Human-Resouces {
  width: 400px;
  height: 280px;
  border: 2px solid rgba(52, 52, 52, 0.175);
  border-radius: 10px;
}

.Explore {
  width: 400px;
  height: 280px;
  border: 2px solid rgba(52, 52, 52, 0.175);
  border-radius: 10px;
  background-image: url("image/IMG_1238.png");
}

.box-explore {
  width: 400px;
  height: 280px;
  overflow: hidden;
}

.image-explore {
  width: 400px;
  height: 280px;
  display: flex;
  position: relative;
  bottom: 20px;
  right: 20px;
  object-fit: fill; /* object-fitใช้สำหรับองค์ประกอบของภาพ */
}

.Explore-wording {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 218px;
  left: 80px;
  color: white;
}

.h2-Explore {
  margin: 6px;
}

.arrow-explore {
  display: flex;
  justify-content: flex-end;
  margin: 0px 0px 0px 0px;
  position: relative;
  bottom: 280px;
  right: 105px;
  font-weight: 1000;
  color: white;
  /* hover */
}
.digital-marketing:hover {
  transform: scale(1.1);
  background-color: rgba(128, 128, 128, 0.093);
  filter: brightness(1.3) contrast(1) saturate(1) hue-rotate(0deg);
}

.art-design:hover {
  transform: scale(1.1);
  background-color: rgba(128, 128, 128, 0.093);
  filter: brightness(1.3) contrast(1) saturate(1) hue-rotate(0deg);
}
.accounting:hover {
  transform: scale(1.1);
  background-color: rgba(128, 128, 128, 0.093);
  filter: brightness(1.3) contrast(1) saturate(1) hue-rotate(0deg);
}
.photography:hover {
  transform: scale(1.1);
  background-color: rgba(128, 128, 128, 0.093);
  filter: brightness(1.3) contrast(1) saturate(1) hue-rotate(0deg);
}

.Writeing:hover {
  transform: scale(1.1);
  background-color: rgba(128, 128, 128, 0.093);
  filter: brightness(1.3) contrast(1) saturate(1) hue-rotate(0deg);
}

.Music:hover {
  transform: scale(1.1);
  background-color: rgba(128, 128, 128, 0.093);
  filter: brightness(1.3) contrast(1) saturate(1) hue-rotate(0deg);
}
.Human-Resouces:hover {
  transform: scale(1.1);
  background-color: rgba(128, 128, 128, 0.093);
  filter: brightness(1.3) contrast(1) saturate(1) hue-rotate(0deg);
}
.Explore:hover {
  transform: scale(1.1);
  filter: brightness(1.3) contrast(2) saturate(0) hue-rotate(0deg);
}
